{% extends "partials/_layout.njk" %}

{% block main %}
<main>
  <div class="section py-5">
    <div class="container">
      <h3>Informations légales</h3>

      <div class="small">
        <h5>Lorem ipsum dolor sit amet</h5>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis sem id arcu interdum, in interdum quam
          accumsan. Fusce pretium dignissim mauris et placerat. Pellentesque pulvinar sollicitudin condimentum.
          In imperdiet, velit fringilla semper efficitur, elit enim dignissim enim, condimentum sagittis orci justo eu
          lectus. Vivamus quis ultricies nisi, sed aliquam dolor. Donec laoreet erat eget lacus lobortis efficitur.
          Etiam et volutpat sapien. Suspendisse eget purus ac nunc ornare gravida varius vel mi. Nunc eleifend tortor
          eu est laoreet, vitae varius nibh mattis. Quisque at faucibus dui. Maecenas ullamcorper est nunc, ut vulputate
          orci interdum vitae.
        </p>

        <h5>Maecenas nulla lectus</h5>

        <p>
           Maecenas nulla lectus, molestie sit amet erat at, ornare congue lectus. Orci varius natoque penatibus et
           magnis dis parturient montes, nascetur ridiculus mus. Praesent efficitur sed nulla nec eleifend. Pellentesque
           elementum nulla in auctor convallis. Sed non rutrum sem, pharetra mollis ipsum. Nullam molestie dui non orci
           dapibus tincidunt. Integer accumsan augue metus, feugiat vehicula orci congue eget. Nunc posuere lorem eget
           malesuada fermentum. Fusce rutrum mauris turpis, id bibendum erat pellentesque dapibus. Duis vitae convallis
           ipsum. Curabitur hendrerit pellentesque risus. Maecenas viverra nisl sit amet ligula varius lobortis. Duis
           feugiat ligula eu sapien mollis finibus.
        </p>

        <h5>Interdum et malesuada fames ac ante ipsum primis in faucibus</h5>

        <p>
           Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam vitae erat quis nunc mattis molestie.
           Etiam congue turpis porttitor dapibus convallis. Praesent iaculis ipsum at elit fringilla mollis. Pellentesque
           mauris risus, hendrerit quis mauris id, blandit convallis augue. Mauris quis tristique enim, in semper augue.
           Curabitur auctor risus sit amet risus viverra, a consequat lorem porta. Curabitur odio eros, convallis non
           molestie in, aliquam vel ex. In tristique faucibus magna, eu faucibus quam egestas ut. Duis et turpis eleifend,
           venenatis est vitae, imperdiet leo. Integer enim libero, egestas sed nibh et, efficitur consectetur nisi.
           Sed lacinia nibh a maximus sollicitudin.
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
