{% set page = "photos" %}
{% extends "partials/_layout.njk" %}

{% block main %}
<main>
  <div class="section py-5">
    <div class="container">
      <h3>Photos</h3>

      <p>1234 éléments trouvés</p>

      <div id="grid" class="grid">
        {% for i in range(1, 20) %}
        <div class="grid__item {{ "grid__item--landscape" if i % 3 == 0 }}">
          <a class="grid__link collapsed" href="#" data-toggle="collapse" data-target="#collapse-{{ i }}">
            <img class="grid__picture" src="//placeimg.com/500/500/any?v={{ i }}" alt="photo">
          </a>
        </div>
        <div id="collapse-{{ i }}" class="grid__item-content collapse" data-parent="#grid">
          <div class="row">
            <div class="col-md-6 col-lg-7">
              <img class="w-100 img-fluid d-none d-md-block" src="//placeimg.com/500/500/any?v={{ i }}" alt="photo">
            </div>
            <div class="col-md-6 col-lg-5">
              <table class="table table-sm">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" colspan="2">Informations</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Référence</th>
                    <td>#SP00003186</td>
                  </tr>
                  <tr>
                    <th scope="row">Auteur</th>
                    <td>Bigard Philippe (661 images)</td>
                  </tr>
                  <tr>
                    <th scope="row">Taille Image</th>
                    <td>41 x 62 cm - 300 dpi (4912 x 7360 pixels)</td>
                  </tr>
                  <tr>
                    <th scope="row">Taille Fichier</th>
                    <td>4.1 Mb sur disque (103.0 Mb ouvert)</td>
                  </tr>
                  <tr>
                    <th scope="row">Description</th>
                    <td>Lotem ipsum dolor sit amet</td>
                  </tr>
                  <tr>
                    <th scope="row">Mots clés</th>
                    <td>
                      <span class="badge badge-light">lorem</span>
                      <span class="badge badge-light">ipsum</span>
                      <span class="badge badge-light">dolor</span>
                      <span class="badge badge-light">sit</span>
                      <span class="badge badge-light">amet</span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <table class="table table-sm">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" colspan="2">Autour de cette photo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Même modèle</th>
                    <td><a href="#">135 images</a></td>
                  </tr>
                  <tr>
                    <th scope="row">Même série</th>
                    <td><a href="#">661 vidéos</a></td>
                  </tr>
                  <tr>
                    <th scope="row">Même story</th>
                    <td><a href="#">ST00000026</a></td>
                  </tr>
                </tbody>
              </table>

              <a class="btn btn-primary" href="#" role="button">Acheter cette photo</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <nav>
        <ul class="pagination justify-content-center mb-0">
          <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
        </ul>
      </nav>
    </div>
  </div>
</main>
{% endblock %}
