.grid {
  display: grid;
  margin-bottom: map-get($spacers, 3);
  grid-template-columns: 1fr;
  grid-auto-flow: row dense;
  grid-gap: $spacer;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));  // repeat(5, 1fr);
  }

  &__item {
    &:hover {
      opacity: .9;
    }

    &--landscape {
      @include media-breakpoint-up(md) {
        grid-column: span 2;
      }
    }
  }

  &__link {
    @include arrow($card-border-color, 1rem);

    display: block;
    height: 100%;

    &:not(.collapsed)::after {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      content: '';
    }
  }

  &__picture {
    @include img-fluid();

    width: 100%;
    height: 100%;
    // max-height: 266px;
    object-fit: cover;
    filter: grayscale(100);
  }

  &__item-content {
    padding: map-get($spacers, 3);
    background-color: theme-color('light');
    grid-column: 1 / -1;
  }
}
